{% extends "core/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="mb-12 text-4xl text-center text-white" style="font-family: staatliches;">About</h1>
<div class="space-y-8 ml-12 font-seibold text-lg font-crimson text-white">
  <p class="font-bold text-3xl" style="font-">About FundMe.</p>
  <p class="font-bold text-6xl">We’re here to help people help each other</p>
  <p class="text-2xl">FundMe is a community-powered fundraising platform. <br>We believe that help is powerful, which is why we’re committed to making it safe and easy for anyone to give and get help. </p>
  <p class="font-bold text-4xl">What Sets Us Apart?</p>
  <p class="text-2xl">At FundMe, we believe in the power of collective action.<br> We provide a platform where dreamers and visionaries can connect with a community of supporters who believe in the potential of great ideas.</p>

</div>
{% endblock %}