{% extends "core/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1 class="mb-12 text-4xl text-center text-white" style="font-family: staatliches;">The contact page</h1>
<div class="mx-6 font-seibold text-lg font-crimson text-teal-300">
  <p>Semen Novak - back-end developer.</p>
  <p class="text-orange-400">notsemka@gmail.com</p>
  <p>Oleh Didus - back-end developer. </p>
  <p class="text-orange-400">didok1510@gmail.com</p>
  <p>Sofia Famuliak - front-end developer.</p>
  <p class="text-orange-400">sofiafamulak@gmail.com</p>
  <p>Nazar Voyevoda - project manager. </p>
  <p class="text-orange-400">nazar.voyevoda@gmail.com</p>
</div>
{% endblock %}