{% extends "core/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="mb-12 text-4xl text-center text-white" style="font-family: staatliches;">Privacy policy</h1>
<div class="ml-16 font-seibold text-lg font-crimson text-white">
 
  <p class="text-xl">FundMe is committed to protecting the privacy and security of the personal information of our users. This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide to us. By using our platform, you agree to the terms outlined in this Privacy Policy.</p>
  <p>Information We Collect<br>
Personal Information: When you create an account on FundMe, we may collect personal information such as your name, email address, and profile details. This information is used to identify you and facilitate your engagement with our platform.<br>

Project Information: If you create a project on our platform, we collect information related to your project, including project description, funding goals, and other details necessary for the crowdfunding process.<br>

Transaction Information: To facilitate contributions to projects, we collect transaction details, including payment information. We utilize secure third-party payment processors to handle financial transactions.<br>

Communications: We may collect information from your communications with us, including customer support inquiries and feedback. </p>
  <p class="my-4 font-bold text-3xl text-white font-crimson text-center">How We Use Your Information</p>
    <p>Project Promotion: We may use your project information to promote and showcase your project on our platform and in promotional materials to enhance its    visibility.<br>

    Account Management: Personal information is used for managing your account, providing customer support, and ensuring the security of your account.<br>

    Communications: We may use your contact information to send you important updates, newsletters, and promotional materials related to our platform. You can opt out of promotional communications at any time.<br>

    Analytics: We may use aggregated and anonymized data for analytics purposes to improve our platform, user experience, and marketing strategies.</p>
  <p class="my-4 font-bold text-3xl text-white font-crimson text-center">Information Sharing</p>
  <p>Project Information: Your project information, including your name and project details, will be visible to the public as part of the crowdfunding process.

Third-Party Service Providers: We may share personal information with third-party service providers who assist us in providing and improving our services, including payment processors.

Legal Compliance: We may disclose personal information if required by law or in response to legal requests.</p>
  <p class="my-4 font-bold text-3xl text-white font-crimson">Thank you for trusting FundMe. Together, we can build a community where great ideas thrive.</p>
</div>
{% endblock %}