{% extends "core/base.html" %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
<h1 class="mb-12 text-4xl text-center text-white" style="font-family: staatliches;">Terms of Use</h1>
<div class="ml-16 font-seibold text-lg font-crimson text-white">
 
  <p class="text-xl">Welcome to FundMe! By accessing or using our platform, you agree to comply with and be bound by the following Terms of Use. <br>
    Please read these terms carefully before using our services.</p>
  <p class="my-4 font-bold text-3xl text-white font-crimson text-center">Acceptance of Terms</p>
  <p>
    By accessing or using FundMe, you agree to these Terms of Use and our Privacy Policy. <br>If you do not agree with any part of these terms, please do not use our platform.
  </p>
  <p class="my-4 font-bold text-3xl text-white font-crimson text-center">User Eligibility</p>
    <p>
      You must be at least 18 years old to use our platform. <br>By using FundMe, you represent and warrant that you are 18 years or older.
    </p>

  <p class="my-4 font-bold text-3xl text-white font-crimson text-center">Account Registration</p>
  <p>
    To use certain features of our platform, you may need to register for an account.<br> You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.
  </p>

  <p class="my-4 font-bold text-3xl text-white font-crimson">Thank you for trusting FundMe. Together, we can build a community where great ideas thrive.</p>
</div>
{% endblock %}