{% extends "core/base.html" %}

{%block title %}{{ item.name }}{%endblock%}
{%block content %}
<div class="grid sm:grid-cols-5 gap-x-6 gap-y-8 mx-4">
    <div class="ml-2 col-span-3 flex justify-center rounded-xl">
        <img src="{{ item.image.url}}" class="rounded-xl object-cover max-h-80" style=" min-height: 400px; min-width: 400px; max-width: 400px;">
    </div>
    <div class=" text-white col-span-3 sm:col-span-2 p-6 bg-teal-700 rounded-xl width font-crimson">
        <h1 class="space-y-2 mb-6 text-3xl" style="font-family: staatliches;">{{item.name}}</h1>
        <p><strong>Donation: </strong>{{item.price}}</p>
        <p><strong>Founder: </strong>{{item.created_by.username}}</p>
        {%if item.description %}
        <p>
            <strong class="text-">Description: </strong><br>
            {{item.description}}
        </p>
        {%endif%}

        {%if request.user == item.created_by %}
        <div class="mt-6 p-6  rounded-xl">
            

            <a href="{% url 'item:edit' item.id %}"
                 class="inline-block mt-6 py-3 px-6 text-lg rounded-xl font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">EDIT</a>
            <a href="{% url 'item:delete' item.id %}"
                class="inline-block my-2 mt-2 px-6 py-3 text-lg font-semibol text-white rounded-xl" style="background-color: #FF5733 ">Delete</a>
        </div>
        {%else %}
        <a href="{% url 'conversation:new' item.id %}"
            class="inline-block mt-6 px-6 py-3  text-lg rounded-full font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">Contact
            founder</a>
        <a href="{% url 'item:donate' item.id %}" onclick="move()"
            class="inline-block my-2 mt-2  px-6 py-3  text-lg rounded-full font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">Donate</a>
        
        {%endif%}

        <p><strong>Progress: </strong>{{item.progress}}/{{item.donation}}</p>
          

    </div>
</div>


<div class="mt-6 px-6 py-12 bg-teal-900">
    <h2 class="mb-12 text-4xl text-center text-white" style="font-family: staatliches;">Related items</h2>
    <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3">
        {% for item in related_items %}
        <div class="rounded-xl w-full hover:rounded-xl bg-teal-700 hover:bg-teal-800 hover:opacity-90" >
            <a href="{% url 'item:detail' item.id %}">
                <div class="border rounded-t-xl" style="max-height: 400px;">
                    <img src="{{item.image.url}}" class="rounded-t-xl object-cover  max-h-96" style="min-height: 400px; min-width: 100%; max-width: 100%;">
                </div>

                <div class="p-6">
                    <h2 class="text-2xl text-amber-300">{{item.name}}</h2>
                    <p class="text-gray-400">Donation: {{item.donation}}</p>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}