{% extends "core/base.html" %}

{%block title %}Donation{%endblock%}
{%block content %}

<h2 class="mb-12 text-5xl text-center text-white" style="font-family: staatliches;">Donation</h2>

<div class="w-8/12 md:w-1/2 lg:1/2 my-6 mx-auto p-6 rounded-xl grid justify-items-center" style="background: rgba(177, 176, 247, 0.09); ">
  <h1 class="mb-0 text-3xl  text-white" style="font-family: staatliches;">Donate</h1>
  <form method="post" action="donate_update">
      {% csrf_token %}
      <label for="inputNumber">Enter a Number:</label>
      <input type="number" id="inputNumber" min="1" max="{{ user.profile.balance }}" name="input_number" required>
      {% if form.errors or form.non_field_errors%}
      <div class="mb-3 p-6 bg-red-100 rounded-xl">
          {% for field in form%}
          {{ field.errors}}
          {% endfor %}

          {{form.non_field_errors}}
      </div>
      {%endif%}
      <div class="flex items-center justify-center"> 
          <button class="mt-2 py-2 px-8 text-lg rounded-full font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">SUBMIT</button>
  </div>
  </form>
</div>
{%endblock%}
