{%extends 'core/base.html'%}

{%block title%}{{title}}{%endblock%}

{%block content %}
<div class="mx-6 font-crimson text-xl">
    <h1 class="mb-6 text-3xl text-white" style="font-family: staatliches;">{{title}}</h1>
    <form method="post" action="." enctype="multipart/form-data" class="text-gray-300 placeholder:text-black">
        {%csrf_token%}
        <div class="space-y-4">
            {{form.as_p}}
        </div>
        {% if form.errors or form.non_field_errors%}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form%}
            {{ field.errors}}
            {% endfor %}

            {{form.non_field_errors}}
        </div>
        {%endif%}
        <button class="mt-2 py-2 px-8 text-lg rounded-full font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">Submit</button>
    </form>
</div>
{%endblock%}