{% extends "core/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">
  <div class="mx-4">
      {% csrf_token %}
    <div class="mb-0"><br>
        <label class="inline-block ml-4 mb-0.5 font-crimson text-white text-lg">Username</label>
        {{form.username}}
      </div>

    <div class="mb-0"><br>
        <label class="inline-block ml-4 mb-0.5 font-crimson text-white text-lg ">Email</label>
        {{form.email}}
    </div>

    <div class="mb-0"><br>
      <label class="inline-block ml-4 mb-0.5 font-crimson text-white text-lg ">Name</label>
      {{form.first_name}}
    </div>

    <div class="mb-0"><br>
      <label class="inline-block ml-4 mb-0.5 font-crimson text-white text-lg ">Surname</label>
      {{form.last_name}}
    </div>
      {% if form.errors or form.non_field_errors%}
      <div class="mb-3 p-6 bg-red-100 rounded-xl">
          {% for field in form%}
          {{ field.errors}}
          {% endfor %}

          {{form.non_field_errors}}
      </div>
      {%endif%}
      <div class="flex items-center justify-center"> 
          <button class="mt-6 py-2 px-8 text-lg rounded-full font-bold" style="color: #2C4341; background-color: #B3F963; font-family: anonymous pro;">SUBMIT</button>
  </div>
</div>
</form>

{%endblock%}